<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
</head>
<body>
    <h1>Добро пожаловать</h1>
    <h2>Краткое описание возможностей проекта</h2>
    <p>В данном поекте присутствует API и реализовано несколько контроллеров страниц.</p>
    <p></p>
    <h2>API</h2>
    <p>Подключена зависимость SWAGGER, поэтому протестировать работу API можно по ссылке: <a href="http://localhost:8080/swagger-ui/index.html"></a></p>
    <p></p>
    <h2>Доступные страницы</h2>
    <p>Список книг можно посмотреть по ссылке: <a href="http://localhost:8080/ui/books">ТУТ</a></p>
    <p>Список читателей можно посмотреть по ссылке: <a href="http://localhost:8080/ui/readers">ТУТ</a></p>
    <p>Конкретный пользователь со списком книг, которые он не вернул доступен по ссылке: http://localhost:8080/ui/reader/{id}</p>
    <p>Вместо {id} нужно ввести числовое значение идентификатора читателя.</p>
    <p>Полный список запросов доступен по ссылке: <a href="http://localhost:8080/ui/issues">ТУТ</a></p>
    <p></p>
    <h2>База данных</h2>
    <p>В качестве основной БД предусмотрена MySQL Server.</p>
    <p>Настройки БД находятся в файле 'application.properties'</p>
    <p>Так же предусмотрен класс автоматического наполнения данными, дабы не было скучно и на их примере можно протестировать некоторые запросы.</p>
    <p>Класс расположен в папке 'src/main/java/my/app/litehomework/component/DataBaseRandomDataComponent.java'</p>
</body>
</html>