<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Книги</h1>
    <table>
        <tr>
            <th> # </th>
            <th>Автор</th>
            <th>Название</th>
            <th>Количество</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}" align="center"></td>
            <td th:text="${book.author}" align="center"></td>
            <td th:text="${book.name}"></td>
            <td th:text="${book.count}" align="center"></td>
        </tr>
    </table>
</body>
</html>